# MacDonald's Menu Data Analysis

In [118]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('C:\projects\McDonaldsMenuNutrition.csv')

## First 5 lines

In [119]:
df.head()

,Item,Calories,Calories from\nFat,Total Fat\n(g),Saturated Fat\n(g),Trans Fat\n(g),Cholesterol\n(mg),Sodium \n(mg),Carbs\n(g),Fiber\n(g),Sugars\n(g),Protein\n(g),Weight Watchers\nPnts
0,Hamburger,250.0,80.0,9.0,3.5,0.5,25.0,520.0,31.0,2.0,6.0,12.0,247.5
1,Cheeseburger,300.0,110.0,12.0,6,0.5,40.0,750.0,33.0,2.0,6.0,15.0,297.0
2,Double Cheeseburger,440.0,210.0,23.0,11,1.5,80.0,1150.0,34.0,2.0,7.0,25.0,433.0
3,McDouble,390.0,170.0,19.0,8,1.0,65.0,920.0,33.0,2.0,7.0,22.0,383.0
4,Quarter Pounder® with Cheese,510.0,230.0,26.0,12,1.5,90.0,1190.0,40.0,3.0,9.0,29.0,502.0

## Rename columns

In [120]:
df.columns = df.columns.str.replace('\n', ' ')

## Dataset info

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item                  330 non-null    object
 1   Calories              328 non-null    float64
 2   Calories from Fat     325 non-null    float64
 3   Total Fat (g)         328 non-null    float64
 4   Saturated Fat (g)     328 non-null    object
 5   Trans Fat (g)         328 non-null    float64
 6   Cholesterol (mg)      328 non-null    float64
 7   Sodium  (mg)          328 non-null    float64
 8   Carbs (g)             328 non-null    float64
 9   Fiber (g)             328 non-null    float64
 10  Sugars (g)            328 non-null    float64
 11  Protein (g)           328 non-null    float64
 12  Weight Watchers Pnts  325 non-null    float64
dtypes: float64(11), object(2)
memory usage: 33.6+ KB

## Bug fix and changing the data type of a column

In [122]:
# df['Saturated Fat\n(g)'] = df['Saturated Fat\n(g)'].astype(float)   --------------  find a bug

In [123]:
df[df['Saturated Fat (g)'] == '5.5 g'] # find a row with bug

,Item,Calories,Calories from Fat,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbs (g),Fiber (g),Sugars (g),Protein (g),Weight Watchers Pnts
102,Hamburger Happy Meal,475.0,NaN,16.0,5.5 g,0.0,40.0,690.0,62.0,2.0,20.0,22.0,NaN

In [124]:
df.at[102, 'Saturated Fat (g)'] = 5.5 # replace the value

In [125]:
df.at[102, 'Saturated Fat (g)'] # all good :)

5.5

In [126]:
df['Saturated Fat (g)'] = df['Saturated Fat (g)'].astype(float) # changing the data type of a column

## Dataset info

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item                  330 non-null    object
 1   Calories              328 non-null    float64
 2   Calories from Fat     325 non-null    float64
 3   Total Fat (g)         328 non-null    float64
 4   Saturated Fat (g)     328 non-null    float64
 5   Trans Fat (g)         328 non-null    float64
 6   Cholesterol (mg)      328 non-null    float64
 7   Sodium  (mg)          328 non-null    float64
 8   Carbs (g)             328 non-null    float64
 9   Fiber (g)             328 non-null    float64
 10  Sugars (g)            328 non-null    float64
 11  Protein (g)           328 non-null    float64
 12  Weight Watchers Pnts  325 non-null    float64
dtypes: float64(12), object(1)
memory usage: 33.6+ KB

## Dataset size

In [128]:
df.size

4290

## Number of rows ans columns

In [129]:
df.shape

(330, 13)

## Number of records

In [130]:
df.count()

Item                    330
Calories                328
Calories from Fat       325
Total Fat (g)           328
Saturated Fat (g)       328
Trans Fat (g)           328
Cholesterol (mg)        328
Sodium  (mg)            328
Carbs (g)               328
Fiber (g)               328
Sugars (g)              328
Protein (g)             328
Weight Watchers Pnts    325
dtype: int64

## Check NA values

In [131]:
df.isna().sum()

Item                    0
Calories                2
Calories from Fat       5
Total Fat (g)           2
Saturated Fat (g)       2
Trans Fat (g)           2
Cholesterol (mg)        2
Sodium  (mg)            2
Carbs (g)               2
Fiber (g)               2
Sugars (g)              2
Protein (g)             2
Weight Watchers Pnts    5
dtype: int64

## Drop NA values and check results

In [132]:
df = df.dropna()
df

,Item,Calories,Calories from Fat,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbs (g),Fiber (g),Sugars (g),Protein (g),Weight Watchers Pnts
0,Hamburger,250.0,80.0,9.0,3.5,0.5,25.0,520.0,31.0,2.0,6.0,12.0,247.5
1,Cheeseburger,300.0,110.0,12.0,6.0,0.5,40.0,750.0,33.0,2.0,6.0,15.0,297.0
2,Double Cheeseburger,440.0,210.0,23.0,11.0,1.5,80.0,1150.0,34.0,2.0,7.0,25.0,433.0
3,McDouble,390.0,170.0,19.0,8.0,1.0,65.0,920.0,33.0,2.0,7.0,22.0,383.0
4,Quarter Pounder® with Cheese,510.0,230.0,26.0,12.0,1.5,90.0,1190.0,40.0,3.0,9.0,29.0,502.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Strawberry Banana Smoothie (Medium),260.0,5.0,1.0,0.0,0.0,5.0,40.0,60.0,3.0,54.0,2.0,312.0
326,Strawberry Banana Smoothie (Small),210.0,5.0,0.5,0.0,0.0,5.0,35.0,49.0,2.0,44.0,2.0,252.0
327,Wild Berry Smoothie (Large),320.0,10.0,1.0,0.5,0.0,5.0,45.0,75.0,4.0,69.0,3.0,386.5
328,Wild Berry Smoothie (Medium),260.0,5.0,1.0,0.0,0.0,5.0,35.0,60.0,4.0,55.0,3.0,312.0
329,Wild Berry Smoothie (Small),210.0,5.0,0.5,0.0,0.0,5.0,30.0,48.0,3.0,44.0,2.0,252.0

In [133]:
df.isna().sum()

Item                    0
Calories                0
Calories from Fat       0
Total Fat (g)           0
Saturated Fat (g)       0
Trans Fat (g)           0
Cholesterol (mg)        0
Sodium  (mg)            0
Carbs (g)               0
Fiber (g)               0
Sugars (g)              0
Protein (g)             0
Weight Watchers Pnts    0
dtype: int64

In [134]:
df.count()

Item                    325
Calories                325
Calories from Fat       325
Total Fat (g)           325
Saturated Fat (g)       325
Trans Fat (g)           325
Cholesterol (mg)        325
Sodium  (mg)            325
Carbs (g)               325
Fiber (g)               325
Sugars (g)              325
Protein (g)             325
Weight Watchers Pnts    325
dtype: int64

In [135]:
df.size

4225

## Top 10 most high-calorie items

In [136]:
df.sort_values(by='Calories', ascending=False)[['Item', 'Calories']].head(10)

                                                  Item  Calories
128       Chocolate Triple Thick® Shake (32 fl oz cup)    1160.0
89    Big Breakfast with Hotcakes (Large Size Biscuit)    1150.0
141         Vanilla Triple Thick Shake® (32 fl oz cup)    1110.0
137      Strawberry Triple Thick® Shake (32 fl oz cup)    1110.0
88   Big Breakfast with Hotcakes (Regular Size Bisc...    1090.0
124             Chocolate McCafé® Shake (22 fl oz cup)     880.0
133            Strawberry McCafé® Shake (22 fl oz cup)     860.0
140               Vanilla McCafé® Shake (22 fl oz cup)     830.0
87                 Big Breakfast® (Large Size Biscuit)     800.0
29                            Angus Chipotle BBQ Bacon     800.0

## Zero calorie items

In [137]:
df[df['Calories']==0][['Item','Calories']]

                               Item  Calories
38                      Salt Packet       0.0
148                   Dasani® Water       0.0
156              Diet Coke® (Child)       0.0
157              Diet Coke® (Small)       0.0
158             Diet Coke® (Medium)       0.0
159              Diet Coke® (Large)       0.0
172                Iced Tea (Child)       0.0
173                Iced Tea (Small)       0.0
174               Iced Tea (Medium)       0.0
175                Iced Tea (Large)       0.0
176                  Coffee (Small)       0.0
177                  Coffee (Large)       0.0
180     EQUAL® 0\nCalorie Sweetener       0.0
181  SPLENDA® No\nCalorie Sweetener       0.0

## Top 10 items by calories from fat

In [138]:
df.sort_values(by='Calories from Fat', ascending=False)[['Item','Calories from Fat']].head(10)

                                                 Item  Calories from Fat
89   Big Breakfast with Hotcakes (Large Size Biscuit)              540.0
88  Big Breakfast with Hotcakes (Regular Size Bisc...              510.0
87                Big Breakfast® (Large Size Biscuit)              470.0
86              Big Breakfast® (Regular Size Biscuit)              430.0
5                 Double Quarter Pounder® with Cheese              380.0
47      Chicken Selects® Premium Breast Strips (5 pc)              360.0
11                             Angus Mushroom & Swiss              360.0
29                           Angus Chipotle BBQ Bacon              350.0
9                                Angus Bacon & Cheese              350.0
10                                       Angus Deluxe              350.0

## Items with zero calories from fat

In [139]:
df[df['Calories from Fat']==0][['Item', 'Calories from Fat']]

                                                  Item  Calories from Fat
37                                      Ketchup Packet                0.0
38                                         Salt Packet                0.0
42                                      Barbeque Sauce                0.0
43                                               Honey                0.0
45                                 Sweet ‘N Sour Sauce                0.0
..                                                 ...                ...
247                 Iced Nonfat Vanilla Latte (Medium)                0.0
248                  Iced Nonfat Vanilla Latte (Large)                0.0
249  Iced Nonfat Latte with Sugar Free Vanilla Syru...                0.0
250  Iced Nonfat Latte with Sugar Free Vanilla Syru...                0.0
251  Iced Nonfat Latte with Sugar Free Vanilla Syru...                0.0

[93 rows x 2 columns]

## Top 10 items by total fat (g)

In [140]:
df.sort_values(by='Total Fat (g)', ascending=False)[['Item','Total Fat (g)']].head(10)

                                                 Item  Total Fat (g)
89   Big Breakfast with Hotcakes (Large Size Biscuit)           60.0
88  Big Breakfast with Hotcakes (Regular Size Bisc...           56.0
87                Big Breakfast® (Large Size Biscuit)           52.0
86              Big Breakfast® (Regular Size Biscuit)           48.0
5                 Double Quarter Pounder® with Cheese           42.0
47      Chicken Selects® Premium Breast Strips (5 pc)           40.0
11                             Angus Mushroom & Swiss           40.0
10                                       Angus Deluxe           39.0
9                                Angus Bacon & Cheese           39.0
29                           Angus Chipotle BBQ Bacon           39.0

## Items with zero total fat (g)

In [141]:
df[df['Total Fat (g)']==0][['Item', 'Total Fat (g)']]

                                                  Item  Total Fat (g)
37                                      Ketchup Packet            0.0
38                                         Salt Packet            0.0
42                                      Barbeque Sauce            0.0
43                                               Honey            0.0
45                                 Sweet ‘N Sour Sauce            0.0
..                                                 ...            ...
247                 Iced Nonfat Vanilla Latte (Medium)            0.0
248                  Iced Nonfat Vanilla Latte (Large)            0.0
249  Iced Nonfat Latte with Sugar Free Vanilla Syru...            0.0
250  Iced Nonfat Latte with Sugar Free Vanilla Syru...            0.0
251  Iced Nonfat Latte with Sugar Free Vanilla Syru...            0.0

[93 rows x 2 columns]

## Top 10 items by saturated fat (g)

In [142]:
df.sort_values(by='Saturated Fat (g)', ascending=False)[['Item', 'Saturated Fat (g)']].head(10)

                                                  Item  Saturated Fat (g)
89    Big Breakfast with Hotcakes (Large Size Biscuit)               20.0
5                  Double Quarter Pounder® with Cheese               19.0
88   Big Breakfast with Hotcakes (Regular Size Bisc...               19.0
323                               Frappe Mocha (Large)               18.0
87                 Big Breakfast® (Large Size Biscuit)               18.0
320                             Frappe Caramel (Large)               18.0
29                            Angus Chipotle BBQ Bacon               18.0
11                              Angus Mushroom & Swiss               17.0
9                                 Angus Bacon & Cheese               17.0
86               Big Breakfast® (Regular Size Biscuit)               17.0

## Items with zero saturated fat (g)

In [143]:
df[df['Saturated Fat (g)']==0][['Item', 'Saturated Fat (g)']]

                                                  Item  Saturated Fat (g)
37                                      Ketchup Packet                0.0
38                                         Salt Packet                0.0
42                                      Barbeque Sauce                0.0
43                                               Honey                0.0
44                                   Hot Mustard Sauce                0.0
..                                                 ...                ...
251  Iced Nonfat Latte with Sugar Free Vanilla Syru...                0.0
325                Strawberry Banana Smoothie (Medium)                0.0
326                 Strawberry Banana Smoothie (Small)                0.0
328                       Wild Berry Smoothie (Medium)                0.0
329                        Wild Berry Smoothie (Small)                0.0

[104 rows x 2 columns]

## Top 10 items by trans fat (g)

In [144]:
df.sort_values(by='Trans Fat (g)', ascending=False)[['Item', 'Trans Fat (g)']].head(10)

                                              Item  Trans Fat (g)
5              Double Quarter Pounder® with Cheese            2.5
137  Strawberry Triple Thick® Shake (32 fl oz cup)            2.0
128   Chocolate Triple Thick® Shake (32 fl oz cup)            2.0
29                        Angus Chipotle BBQ Bacon            2.0
141     Vanilla Triple Thick Shake® (32 fl oz cup)            2.0
9                             Angus Bacon & Cheese            2.0
10                                    Angus Deluxe            2.0
11                          Angus Mushroom & Swiss            2.0
31                         Angus Deluxe Snack Wrap            1.5
32               Angus Mushroom & Swiss Snack Wrap            1.5

## Items with zero trans fat (g)

In [145]:
df[df['Trans Fat (g)']==0][['Item', 'Trans Fat (g)']]

                                         Item  Trans Fat (g)
12                              Filet-O-Fish®            0.0
13                                McChicken ®            0.0
14                                    McRib ®            0.0
15   Premium Grilled Chicken Classic Sandwich            0.0
16    Premium Crispy Chicken Classic Sandwich            0.0
..                                        ...            ...
325       Strawberry Banana Smoothie (Medium)            0.0
326        Strawberry Banana Smoothie (Small)            0.0
327               Wild Berry Smoothie (Large)            0.0
328              Wild Berry Smoothie (Medium)            0.0
329               Wild Berry Smoothie (Small)            0.0

[269 rows x 2 columns]

## Top 10 items by cholesterol (mg)

In [146]:
df.nlargest(10, 'Cholesterol (mg)')[['Item', 'Cholesterol (mg)']]

                                                 Item  Cholesterol (mg)
88  Big Breakfast with Hotcakes (Regular Size Bisc...             575.0
89   Big Breakfast with Hotcakes (Large Size Biscuit)             575.0
86              Big Breakfast® (Regular Size Biscuit)             555.0
87                Big Breakfast® (Large Size Biscuit)             555.0
91                    McSkillet™ Burrito with Sausage             410.0
82                          Steak, Egg & Cheese Bagel             300.0
72                         Sausage McMuffin® with Egg             285.0
84                  Sausage, Egg & Cheese McGriddles®             265.0
70                                      Egg McMuffin®             260.0
99                          Bacon, Egg & Cheese Bagel             260.0

## Items with zero cholesterol (mg)

In [147]:
df[df['Cholesterol (mg)'] == 0][['Item', 'Cholesterol (mg)']]

                                                  Item  Cholesterol (mg)
34                                  Small French Fries               0.0
35                                 Medium French Fries               0.0
36                                  Large French Fries               0.0
37                                      Ketchup Packet               0.0
38                                         Salt Packet               0.0
..                                                 ...               ...
200                                  Sweet Tea (Small)               0.0
240                  Iced Nonfat Caramel Latte (Small)               0.0
243                 Iced Nonfat Hazelnut Latte (Small)               0.0
246                  Iced Nonfat Vanilla Latte (Small)               0.0
249  Iced Nonfat Latte with Sugar Free Vanilla Syru...               0.0

[65 rows x 2 columns]

## Top 10 items by sodium (mg)

In [148]:
df.nlargest(10, 'Sodium  (mg)')[['Item', 'Sodium  (mg)']]

                                                 Item  Sodium  (mg)
89   Big Breakfast with Hotcakes (Large Size Biscuit)        2260.0
88  Big Breakfast with Hotcakes (Regular Size Bisc...        2150.0
9                                Angus Bacon & Cheese        2070.0
29                           Angus Chipotle BBQ Bacon        2020.0
10                                       Angus Deluxe        1700.0
47      Chicken Selects® Premium Breast Strips (5 pc)        1680.0
87                Big Breakfast® (Large Size Biscuit)        1680.0
82                          Steak, Egg & Cheese Bagel        1580.0
86              Big Breakfast® (Regular Size Biscuit)        1560.0
91                    McSkillet™ Burrito with Sausage        1390.0

## Items with zero sodium (mg)

In [149]:
df[df['Sodium  (mg)'] == 0][['Item', 'Sodium  (mg)']]

                                   Item  Sodium  (mg)
43                                Honey           0.0
97                            Grape Jam           0.0
98                 Strawberry Preserves           0.0
112               Peanuts (for Sundaes)           0.0
148                       Dasani® Water           0.0
149   Minute Maid® Orange Juice (Small)           0.0
150  Minute Maid® Orange Juice (Medium)           0.0
164      Hi-C® Orange Lavaburst (Child)           0.0
176                      Coffee (Small)           0.0
177                      Coffee (Large)           0.0
179                        Sugar Packet           0.0
180         EQUAL® 0\nCalorie Sweetener           0.0
181      SPLENDA® No\nCalorie Sweetener           0.0

## Top 10 items by carbs (g)

In [150]:
df.nlargest(10, 'Carbs (g)')[['Item', 'Carbs (g)']]

                                              Item  Carbs (g)
128   Chocolate Triple Thick® Shake (32 fl oz cup)      203.0
137  Strawberry Triple Thick® Shake (32 fl oz cup)      194.0
141     Vanilla Triple Thick Shake® (32 fl oz cup)      193.0
124         Chocolate McCafé® Shake (22 fl oz cup)      147.0
133        Strawberry McCafé® Shake (22 fl oz cup)      144.0
140           Vanilla McCafé® Shake (22 fl oz cup)      138.0
127   Chocolate Triple Thick® Shake (21 fl oz cup)      134.0
136  Strawberry Triple Thick® Shake (21 fl oz cup)      128.0
144     Vanilla Triple Thick® Shake (21 fl oz cup)      128.0
123         Chocolate McCafé® Shake (16 fl oz cup)      119.0

## Items with zero carbs (g)

In [151]:
df[df['Carbs (g)'] == 0][['Item', 'Carbs (g)']]

                          Item  Carbs (g)
38                 Salt Packet        0.0
95   Whipped Margarine (1 pat)        0.0
148              Dasani® Water        0.0
156         Diet Coke® (Child)        0.0
157         Diet Coke® (Small)        0.0
158        Diet Coke® (Medium)        0.0
159         Diet Coke® (Large)        0.0
172           Iced Tea (Child)        0.0
173           Iced Tea (Small)        0.0
174          Iced Tea (Medium)        0.0
176             Coffee (Small)        0.0
177             Coffee (Large)        0.0
178               Coffee Cream        0.0

## Top 10 items by fiber (g)

In [152]:
df.nlargest(10, 'Fiber (g)')[['Item', 'Fiber (g)']]

                                                  Item  Fiber (g)
89    Big Breakfast with Hotcakes (Large Size Biscuit)        7.0
36                                  Large French Fries        6.0
52        Premium Southwest Salad with Grilled Chicken        6.0
53         Premium Southwest Salad with Crispy Chicken        6.0
54           Premium Southwest Salad (without chicken)        6.0
88   Big Breakfast with Hotcakes (Regular Size Bisc...        6.0
35                                 Medium French Fries        5.0
100                              Fruit & Maple Oatmeal        5.0
101          Fruit & Maple Oatmeal without Brown Sugar        5.0
9                                 Angus Bacon & Cheese        4.0

## Items with zero fiber (g)

In [153]:
df[df['Fiber (g)'] == 0][['Item', 'Fiber (g)']]

                            Item  Fiber (g)
37                Ketchup Packet        0.0
38                   Salt Packet        0.0
42                Barbeque Sauce        0.0
43                         Honey        0.0
45           Sweet ‘N Sour Sauce        0.0
..                           ...        ...
316  Iced Caramel Mocha (Medium)        0.0
317   Iced Caramel Mocha (Small)        0.0
318       Frappe Caramel (Small)        0.0
319      Frappe Caramel (Medium)        0.0
320       Frappe Caramel (Large)        0.0

[211 rows x 2 columns]

## Top 10 items by sugars (g)

In [154]:
df.nlargest(10, 'Sugars (g)')[['Item', 'Sugars (g)']]

                                              Item  Sugars (g)
128   Chocolate Triple Thick® Shake (32 fl oz cup)       168.0
137  Strawberry Triple Thick® Shake (32 fl oz cup)       168.0
141     Vanilla Triple Thick Shake® (32 fl oz cup)       145.0
133        Strawberry McCafé® Shake (22 fl oz cup)       124.0
124         Chocolate McCafé® Shake (22 fl oz cup)       121.0
127   Chocolate Triple Thick® Shake (21 fl oz cup)       111.0
136  Strawberry Triple Thick® Shake (21 fl oz cup)       111.0
140           Vanilla McCafé® Shake (22 fl oz cup)       103.0
132        Strawberry McCafé® Shake (16 fl oz cup)       100.0
123         Chocolate McCafé® Shake (16 fl oz cup)        98.0

## Items with zero sugars (g)

In [155]:
df[df['Sugars (g)'] == 0][['Item', 'Sugars (g)']]

                                              Item  Sugars (g)
34                              Small French Fries         0.0
35                             Medium French Fries         0.0
36                              Large French Fries         0.0
38                                     Salt Packet         0.0
39                    Chicken McNuggets® (4 piece)         0.0
40                    Chicken McNuggets® (6 piece)         0.0
41                   Chicken McNuggets® (10 piece)         0.0
46   Chicken Selects® Premium Breast Strips (3 pc)         0.0
47   Chicken Selects® Premium Breast Strips (5 pc)         0.0
48                             Spicy Buffalo Sauce         0.0
62                          Butter Garlic Croutons         0.0
95                       Whipped Margarine (1 pat)         0.0
96                                      Hash Brown         0.0
112                          Peanuts (for Sundaes)         0.0
148                                  Dasani® Water         0.0
156                             Diet Coke® (Child)         0.0
157                             Diet Coke® (Small)         0.0
158                            Diet Coke® (Medium)         0.0
159                             Diet Coke® (Large)         0.0
172                               Iced Tea (Child)         0.0
173                               Iced Tea (Small)         0.0
174                              Iced Tea (Medium)         0.0
175                               Iced Tea (Large)         0.0
176                                 Coffee (Small)         0.0
177                                 Coffee (Large)         0.0
178                                   Coffee Cream         0.0

## Top 10 items by protein (g)

In [156]:
df.nlargest(10, 'Protein (g)')[['Item', 'Protein (g)']]

                                                 Item  Protein (g)
5                 Double Quarter Pounder® with Cheese         48.0
9                                Angus Bacon & Cheese         45.0
29                           Angus Chipotle BBQ Bacon         45.0
11                             Angus Mushroom & Swiss         44.0
10                                       Angus Deluxe         40.0
47      Chicken Selects® Premium Breast Strips (5 pc)         38.0
88  Big Breakfast with Hotcakes (Regular Size Bisc...         36.0
89   Big Breakfast with Hotcakes (Large Size Biscuit)         36.0
17              Premium Grilled Chicken Club Sandwich         35.0
55     Premium Bacon Ranch Salad with Grilled Chicken         33.0

## Items with zero protein (g)

In [157]:
df[df['Protein (g)'] == 0][['Item', 'Protein (g)']]

                                           Item  Protein (g)
37                               Ketchup Packet          0.0
38                                  Salt Packet          0.0
42                               Barbeque Sauce          0.0
43                                        Honey          0.0
45                          Sweet ‘N Sour Sauce          0.0
48                          Spicy Buffalo Sauce          0.0
49                           Creamy Ranch Sauce          0.0
50                    Tangy Honey Mustard Sauce          0.0
51         Southwestern Chipotle Barbeque Sauce          0.0
67   Newman’s Own® Low Fat Balsamic Vinaigrette          0.0
94                                Hotcake Syrup          0.0
95                    Whipped Margarine (1 pat)          0.0
97                                    Grape Jam          0.0
98                         Strawberry Preserves          0.0
106                         Low Fat Caramel Dip          0.0
121      Apple Dippers with Low Fat Caramel Dip          0.0
147           Minute Maid® 100% Apple Juice Box          0.0
148                               Dasani® Water          0.0
152                  Coca-Cola® Classic (Child)          0.0
153                  Coca-Cola® Classic (Small)          0.0
154                 Coca-Cola® Classic (Medium)          0.0
155                  Coca-Cola® Classic (Large)          0.0
156                          Diet Coke® (Child)          0.0
157                          Diet Coke® (Small)          0.0
158                         Diet Coke® (Medium)          0.0
159                          Diet Coke® (Large)          0.0
160                             Sprite® (Child)          0.0
161                             Sprite® (Small)          0.0
162                            Sprite® (Medium)          0.0
163                             Sprite® (Large)          0.0
164              Hi-C® Orange Lavaburst (Child)          0.0
165              Hi-C® Orange Lavaburst (Small)          0.0
166             Hi-C® Orange Lavaburst (Medium)          0.0
167              Hi-C® Orange Lavaburst (Large)          0.0
168            POWERade® Mountain Blast (Child)          0.0
169            POWERade® Mountain Blast (Small)          0.0
170           POWERade® Mountain Blast (Medium)          0.0
171            POWERade® Mountain Blast (Large)          0.0
172                            Iced Tea (Child)          0.0
173                            Iced Tea (Small)          0.0
174                           Iced Tea (Medium)          0.0
175                            Iced Tea (Large)          0.0
176                              Coffee (Small)          0.0
177                              Coffee (Large)          0.0
178                                Coffee Cream          0.0
179                                Sugar Packet          0.0
180                 EQUAL® 0\nCalorie Sweetener          0.0
181              SPLENDA® No\nCalorie Sweetener          0.0
197                           Sweet Tea (Child)          0.0

## Top 10 items by weight watchers points

In [158]:
df.nlargest(10, 'Weight Watchers Pnts')[['Item', 'Weight Watchers Pnts']]

                                                  Item  Weight Watchers Pnts
128       Chocolate Triple Thick® Shake (32 fl oz cup)                1317.0
137      Strawberry Triple Thick® Shake (32 fl oz cup)                1269.0
141         Vanilla Triple Thick Shake® (32 fl oz cup)                1246.0
89    Big Breakfast with Hotcakes (Large Size Biscuit)                1151.0
88   Big Breakfast with Hotcakes (Regular Size Bisc...                1090.0
124             Chocolate McCafé® Shake (22 fl oz cup)                 998.0
133            Strawberry McCafé® Shake (22 fl oz cup)                 981.0
140               Vanilla McCafé® Shake (22 fl oz cup)                 930.0
127       Chocolate Triple Thick® Shake (21 fl oz cup)                 874.0
136      Strawberry Triple Thick® Shake (21 fl oz cup)                 845.0

## Items with zero weight watchers points

In [159]:
df[df['Weight Watchers Pnts'] == 0][['Item', 'Weight Watchers Pnts']]

                    Item  Weight Watchers Pnts
38           Salt Packet                   0.0
148        Dasani® Water                   0.0
156   Diet Coke® (Child)                   0.0
157   Diet Coke® (Small)                   0.0
158  Diet Coke® (Medium)                   0.0
159   Diet Coke® (Large)                   0.0
172     Iced Tea (Child)                   0.0
173     Iced Tea (Small)                   0.0
174    Iced Tea (Medium)                   0.0
175     Iced Tea (Large)                   0.0
176       Coffee (Small)                   0.0
177       Coffee (Large)                   0.0

## Column averages

In [160]:
df.mean()

C:\Users\wolfi\AppData\Local\Temp\ipykernel_1152\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Calories                283.107692
Calories from Fat        88.800000
Total Fat (g)             9.910769
Saturated Fat (g)         4.423077
Trans Fat (g)             0.195385
Cholesterol (mg)         40.215385
Sodium  (mg)            335.800000
Carbs (g)                39.920000
Fiber (g)                 0.873846
Sugars (g)               28.215385
Protein (g)               9.320000
Weight Watchers Pnts    306.426154
dtype: float64

## Data for calorie calculation

In [161]:
caloric_intake_W = 2000 # Average daily calorie intake for women
caloric_intake_M = 2500 # Average daily calorie intake for men

meals = 3 # Number of meals

caloric_one_meal_W = caloric_intake_W/meals # calculation of calories for 1 meal for women

caloric_one_meal_M = caloric_intake_M/meals # calculation of calories for 1 meal for men

calorie_one_breakfast_W = 400 # Maximum recommended calorie intake for breakfast for women
calorie_one_breakfast_M = 600 # Maximum recommended calorie intake for breakfast for men

slow_weight_loss_rate = 0.85 # coefficient for slow weight loss
fast_weight_loss_rate = 0.75 # coefficient for fast weight loss
extreme_weigt_loss_rate = 0.65 # coefficient for extreme weight loss

caloric_one_meal_W_SWL = caloric_one_meal_W*slow_weight_loss_rate # calculation of calories for 1 meal for women (slow weight loss)

caloric_one_meal_W_FWL = caloric_one_meal_W*fast_weight_loss_rate # calculation of calories for 1 meal for men (slow weight loss)

caloric_one_meal_W_EWL = caloric_one_meal_W*extreme_weigt_loss_rate # calculation of calories for 1 meal for women (fast weight loss)

caloric_one_meal_M_SWL = caloric_one_meal_M*slow_weight_loss_rate # calculation of calories for 1 meal for men (fast weight loss)

caloric_one_meal_M_FWL = caloric_one_meal_M*fast_weight_loss_rate # calculation of calories for 1 meal for women (extreme weight loss)

caloric_one_meal_M_EWL = caloric_one_meal_M*extreme_weigt_loss_rate # calculation of calories for 1 meal for men (extreme weight loss)

## Items containing no more than the standard calorie intake for 1 meal for women

In [162]:
df[df['Calories'] < caloric_one_meal_W][['Item', 'Calories']].sort_values(by='Calories',ascending=False)

                                              Item  Calories
47   Chicken Selects® Premium Breast Strips (5 pc)     660.0
82                       Steak, Egg & Cheese Bagel     660.0
18            Premium Crispy Chicken Club Sandwich     620.0
91                 McSkillet™ Burrito with Sausage     610.0
126   Chocolate Triple Thick® Shake (16 fl oz cup)     580.0
..                                             ...       ...
174                              Iced Tea (Medium)       0.0
175                               Iced Tea (Large)       0.0
177                                 Coffee (Large)       0.0
180                    EQUAL® 0\nCalorie Sweetener       0.0
176                                 Coffee (Small)       0.0

[301 rows x 2 columns]

## Items containing no more than the standard calorie intake for 1 meal for men

In [163]:
df[df['Calories'] < caloric_one_meal_M][['Item', 'Calories']].sort_values(by='Calories',ascending=False)

                                     Item  Calories
140  Vanilla McCafé® Shake (22 fl oz cup)     830.0
29               Angus Chipotle BBQ Bacon     800.0
87    Big Breakfast® (Large Size Biscuit)     800.0
9                    Angus Bacon & Cheese     790.0
11                 Angus Mushroom & Swiss     770.0
..                                    ...       ...
156                    Diet Coke® (Child)       0.0
173                      Iced Tea (Small)       0.0
180           EQUAL® 0\nCalorie Sweetener       0.0
157                    Diet Coke® (Small)       0.0
174                     Iced Tea (Medium)       0.0

[318 rows x 2 columns]

## Complex breakfasts that do not exceed the recommended calorie intake fow women

In [164]:
df[(df['Calories'] < calorie_one_breakfast_W) & (df['Item'].str.contains('Breakfast'))][['Item', 'Calories']].sort_values(by='Calories',ascending=False)

Empty DataFrame
Columns: [Item, Calories]
Index: []

## Complex breakfasts that do not exceed the recommended calorie intake fow men

In [165]:
df[(df['Calories'] < calorie_one_breakfast_M) & (df['Item'].str.contains('Breakfast'))][['Item', 'Calories']].sort_values(by='Calories',ascending=False)

Empty DataFrame
Columns: [Item, Calories]
Index: []

## Complex breakfast by calories by ascending

In [166]:
df[df['Item'].str.contains('Breakfast', case=False)][['Item','Calories']].sort_values(by='Calories')

                                                 Item  Calories
86              Big Breakfast® (Regular Size Biscuit)     740.0
87                Big Breakfast® (Large Size Biscuit)     800.0
88  Big Breakfast with Hotcakes (Regular Size Bisc...    1090.0
89   Big Breakfast with Hotcakes (Large Size Biscuit)    1150.0

### It can be concluded that there are no complex breakfasts on the menu that do not exceed the calorie allowance for both women and men

## Items containing no more than the calorie intake for 1 meal for women for slow weight loss

In [167]:
df[df['Calories'] < caloric_one_meal_W_SWL][['Item', 'Calories']].sort_values(by='Calories',ascending=False)

                                              Item  Calories
322                          Frappe Mocha (Medium)     560.0
135  Strawberry Triple Thick® Shake (16 fl oz cup)     560.0
84               Sausage, Egg & Cheese McGriddles®     560.0
99                       Bacon, Egg & Cheese Bagel     560.0
143     Vanilla Triple Thick® Shake (16 fl oz cup)     550.0
..                                             ...       ...
174                              Iced Tea (Medium)       0.0
175                               Iced Tea (Large)       0.0
176                                 Coffee (Small)       0.0
177                                 Coffee (Large)       0.0
181                 SPLENDA® No\nCalorie Sweetener       0.0

[292 rows x 2 columns]

## Items containing no more than the calorie intake for 1 meal for men for slow weight loss

In [168]:
df[df['Calories'] < caloric_one_meal_M_SWL][['Item', 'Calories']].sort_values(by='Calories',ascending=False)

                                              Item  Calories
139           Vanilla McCafé® Shake (16 fl oz cup)     680.0
320                         Frappe Caramel (Large)     680.0
323                           Frappe Mocha (Large)     680.0
82                       Steak, Egg & Cheese Bagel     660.0
47   Chicken Selects® Premium Breast Strips (5 pc)     660.0
..                                             ...       ...
174                              Iced Tea (Medium)       0.0
175                               Iced Tea (Large)       0.0
176                                 Coffee (Small)       0.0
180                    EQUAL® 0\nCalorie Sweetener       0.0
177                                 Coffee (Large)       0.0

[304 rows x 2 columns]

## Items containing no more than the calorie intake for 1 meal for women for fast weight loss

In [169]:
df[df['Calories'] < caloric_one_meal_W_FWL][['Item', 'Calories']].sort_values(by='Calories',ascending=False)

                                                  Item  Calories
75    Bacon, Egg & Cheese Biscuit (Large Size Biscuit)     480.0
79                Sausage Biscuit (Large Size Biscuit)     480.0
41                       Chicken McNuggets® (10 piece)     470.0
81   Southern Style Chicken Biscuit (Large Size Bis...     470.0
7                                        Big N’ Tasty®     460.0
..                                                 ...       ...
176                                     Coffee (Small)       0.0
175                                   Iced Tea (Large)       0.0
174                                  Iced Tea (Medium)       0.0
148                                      Dasani® Water       0.0
159                                 Diet Coke® (Large)       0.0

[276 rows x 2 columns]

## Items containing no more than the calorie intake for 1 meal for men for fast weight loss

In [170]:
df[df['Calories'] < caloric_one_meal_M_FWL][['Item', 'Calories']].sort_values(by='Calories',ascending=False)

                                             Item  Calories
18           Premium Crispy Chicken Club Sandwich     620.0
91                McSkillet™ Burrito with Sausage     610.0
126  Chocolate Triple Thick® Shake (16 fl oz cup)     580.0
122        Chocolate McCafé® Shake (12 fl oz cup)     580.0
114   McFlurry® with OREO® Cookies (12 fl oz cup)     580.0
..                                            ...       ...
174                             Iced Tea (Medium)       0.0
175                              Iced Tea (Large)       0.0
176                                Coffee (Small)       0.0
180                   EQUAL® 0\nCalorie Sweetener       0.0
177                                Coffee (Large)       0.0

[299 rows x 2 columns]

## Items containing no more than the calorie intake for 1 meal for women for extreme weight loss

In [171]:
df[df['Calories'] < caloric_one_meal_W_EWL][['Item', 'Calories']].sort_values(by='Calories',ascending=False)

                                              Item  Calories
53     Premium Southwest Salad with Crispy Chicken     430.0
129       Snack Size McFlurry® with M&M’S® Candies     430.0
32               Angus Mushroom & Swiss Snack Wrap     430.0
78          Sausage Biscuit (Regular Size Biscuit)     430.0
134  Strawberry Triple Thick® Shake (12 fl oz cup)     420.0
..                                             ...       ...
174                              Iced Tea (Medium)       0.0
173                               Iced Tea (Small)       0.0
172                               Iced Tea (Child)       0.0
157                             Diet Coke® (Small)       0.0
176                                 Coffee (Small)       0.0

[263 rows x 2 columns]

## Items containing no more than the calorie intake for 1 meal for men for extreme weight loss

In [172]:
df[df['Calories'] < caloric_one_meal_M_EWL][['Item', 'Calories']].sort_values(by='Calories',ascending=False)

                                          Item  Calories
20   Premium Crispy Chicken Ranch BLT Sandwich     540.0
6                                     Big Mac®     540.0
138       Vanilla McCafé® Shake (12 fl oz cup)     540.0
93                        Hotcakes and Sausage     520.0
16     Premium Crispy Chicken Classic Sandwich     510.0
..                                         ...       ...
158                        Diet Coke® (Medium)       0.0
175                           Iced Tea (Large)       0.0
148                              Dasani® Water       0.0
156                         Diet Coke® (Child)       0.0
159                         Diet Coke® (Large)       0.0

[286 rows x 2 columns]